# Entorno virtual
venv/
.venv/

# Archivos temporales de Python
__pycache__/
*.py[cod]
*$py.class

# Configuración local
.env
.vscode/

# Resultados generados
results/
models/checkpoints/

# Archivos de sistema
.DS_Store
Thumbs.db

# Cache de pruebas o herramientas
.pytest_cache/
.mypy_cache/

# Archivos temporales
*.log